* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'popins' , sans-serif;
}

body {
     background-color: #1f242d;
     color: #fff;
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo {
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.navbar a {
    display: inline-block;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s*var(--i));
}

.navbar a:hover ,
.navbar a.active {
    color: #0ef;
}

.home {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 10% 0;
}

.home-img img {
    max-width: 450px;
    margin-right: -20px;
    opacity: 0;
    animation: ZoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 2s ,3s;
    border-radius: 50%;
    box-shadow:  20px  0 20px #f1f3f3;
}

.home-content {
    max-width: 600px;

}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;

}

.home-content h3 span {
    color: #0ef;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;

}

.home-content h3:nth-of-type(2) {
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;

}

.home-content p {
    font-size: 16px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;

}

.social-media a {
display: inline-flex;
justify-content: center;
align-items: center;
width: 40px;
height: 40px;
background: transparent;
border: 2px solid #0ef;
border-radius: 50%;
font-size: 20px;
color: #0ef;
text-decoration: none;
margin: 30px 15px 30px 0;
transition: .5s ease;
opacity: 0;
animation: slideLeft 1s ease forwards;
animation-delay: calc(.2s*var(--i));

}


.social-media a:hover {
background: #0ef;
color: #1f242d;
box-shadow: 0 0 20px #00eeff;
}

.btn {
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    box-shadow: 0 0 10px #0ef;
    font-size: 16px;
    color: #1f242d;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;

}

@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}


@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes ZoomIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes floatImage {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-24px);
    }
    100%{
        transform: translateY(0);
    }

}

.about {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
    padding-bottom: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--snd-bg-color);
}
.about-img img {
    float: left;
    width: 30vw;
    border-radius: 20%;
    box-shadow: 0 15px 15px #434a4b;
}
.heading {
    text-align: center;
    font-size: 4.5rem;
}

.about-content h2 {
    text-align: left;
    line-height: 1.2;
    font-size: 2rem;
}
.about-content h3 {
    padding-top: 3%;
    font-size: 1.5rem;
}
.about-content p {
    font-size: 1rem;
    margin: 2rem 0 3rem;
}


.Projects {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
    padding-bottom: 0%;
    background: var(--snd-bg-color);
}

.Projects h2 {
    margin-bottom: 4rem;
    font-size: 2.5rem;

}

.Projects-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 2.5rem;
}

.Projects-container .Projects-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}
.Projects-box img {
    width: 20.875rem;
    height: 12.25rem;
    transition: .5s ease;
    opacity: 0.7;
}

.Projects-box:hover img {
    transform: scale(1.1);

}

.Projects-box .Projects-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.1),var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translate(100%);
    transition: .5s ease;
}

.Projects-box:hover .Projects-layer {
    transform: translateY(0);
}

.Projects-layer h4 {
font-size: 1.5rem;
}

.Projects-layer p {
    font-size: 1rem;
    margin: .3rem 0 1rem;
}

.Projects-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}

.Projects-layer a i {
    font-size: 1rem;
    color: var(--snd-bg-color);
}

span {
    color: #0ef;
}

.skills {
    max-width: 68.75rem;
    margin: auto;
    text-align: center;
    margin-top: 2.5rem;
  }
  
  .skill-header {
    margin-bottom: 2.5rem;
  }
  
  .skills-wrapper img {
    padding: 1.25rem;
  }
  
  .icon {
    width: 11.875rem;
    height: 11.25rem;
  }
  
  .icon-card {
     background-color: rgb(25, 65, 68);
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--snd-bg-color);
    padding: 20px;
    margin: 10px;
  }
  .contact {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
    padding-bottom: 10%;

  }
  .about-i img {
    width: 35vw;
    height: 35vw;
    float: right;
    box-shadow: 0  30px 30px #080808;
    border-radius: 10%;
  }

  
  .chips {
    padding-right: 60%;
  }

  .chip {
    display: inline-flex;
    padding: 20px 25px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    border-radius: 25px;
    background-color: rgb(12, 45, 48);
  }
  
  .chip img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }
  